// .Carousel-root-1 {
//   position: absolute;
//   display: inline-block;
// }

.carousel {
  display: flex;
  justify-content: center;

  .Carousel-root-8 {
    width: 40rem;
  }

  // background-color: #d9d9d9;
  border-radius: 90px 90px 90px 90px;
  background: rgb(217, 217, 217);
  background: -moz-radial-gradient(
    circle,
    rgba(217, 217, 217, 1) 41%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(217, 217, 217, 1) 41%,
    rgba(255, 255, 255, 0) 100%
  );
  background: radial-gradient(
    circle,
    rgba(217, 217, 217, 1) 41%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d9d9d9",endColorstr="#ffffff",GradientType=1);
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 50%;
    height: 14.5rem;
    border-radius: 6px;
  }
  .carousel-item-body {
    width: 50%;
    height: 12rem;
    margin: 1rem;

    .carousel-item-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .carousel-item-info {
        display: flex;
        flex-direction: column;

        h2 {
          display: flex;
          margin: 0;
        }
      }

      .carousel-item-price {
        h4 {
          display: flex;
          justify-content: flex-end;
          margin: 0 1rem 0;
        }

        h4:nth-child(2) {
          margin-top: 4px;
        }
      }
    }

    .carousel-item-description {
      text-indent: 10px;
      text-align: left;
      text-overflow: ellipsis; 
      overflow: hidden;
      margin: 1rem 0 0;
      height: 8rem;
    }
  }
}
