.favorites-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .favorites-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem;
  }
}