.Main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: lightpink;
    .top-bar{
        display: flex;
        flex-direction: column;
        .bar{
            display: flex;
            flex-direction: row;
        }
        .links{
            .Nav{
                display: flex;
                flex-direction: row;
                justify-content: center;
                background-color: lightblue;
            }

        }
    }
    .page-item{
        display: flex;
        flex-direction: row;
        height: 100%;
        .page-content{
            background-color: lightgreen;
            width: 100%;
        }
    }
}