.Main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: lightpink;

  .bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;

    .top-icons {
      display: flex;
      align-items: center;

      .links {
        a {
          color: black;
        }
        a:hover {
          color: white;
        }
        font-size: 26px;
        .spacers {
          width: 5%;
        }
      }
        .Nav {
          display: flex;
          flex-direction: row;
          justify-content: center;
          background-color: lightblue;
        }
    }
  }
  .page-item {
    display: flex;
    flex-direction: row;
    flex: 1;

    .page-content {
      background-color: lightgreen;
      width: 100%;
    }
    .history-bar {
      width: 300px;
    }
  }
}
