.listing-card{
    display: flex;
    flex-direction: row;
    width: 85%;
    min-height: 300px;
    min-width: 840px;
    
    .calender{
 
    }
    .img{
        img{
            max-width: 100%;
            min-height: 100%;
            
        }
    }
    .card-content{
    text-align: center;
    width: 100%;
    }
}



.listing{
    .content{
        padding-top: 100px;
        .main-content{

        }
    }
}





.create-listing{
    margin-top: 100px;
}
.main-content{
    padding-top: 100px;
}



.create-listing-modal{
    background-color: white;
    width: 500px;
    background-color: lightgrey;
    margin: 4rem auto;
    margin-top: 400px;
    .modal-header{
        background-color: #293d3d;
        color: #d9d9d9;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 20px;
        h2{
            text-align: center;
            font-size: 1.8rem;
        }

    }
    .modal-content{
        display: flex;
        flex-direction: column;
        padding: 1.5rem 1rem;
        .car-option{
            display: flex;
            flex-direction: row;
 
        }
    }
    .login-btn{
        background-color: #293d3d;
        width: 50%;
        height: 40px;
        margin: auto;
        color: white;
        h2{
            text-align: center;
            cursor: pointer;
    }   
        }
}

