.listing-card{
    display: flex;
    flex-direction: row;
    width: 85%;
    min-height: 300px;
    min-width: 840px;
    
    .calender{
 
    }
    .img{
        img{
            max-width: 100%;
            min-height: 100%;
            
        }
    }
    .card-content{
    text-align: center;
    width: 100%;
    }
}



.listing{
    .content{
        padding-top: 100px;
        .main-content{

        }
    }
}





.create-listing{
    margin-top: 100px;
}
.main-content{
    padding-top: 100px;
}



.create-listing-modal{
    width: 500px;
    background-color: lightgrey;
    margin: 4rem auto;
    border: none;
    .modal-header{
        border: none;
        background-color: #293d3d;
        color: #d9d9d9;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 20px;
        h2{
            text-align: center;
            font-size: 1.8rem;
            
        }
        .close-modal-btn{
            
        }
        .close-modal-btn:hover{
            cursor: pointer;
            color: red;
        }

    }
    .modal-content{
        display: flex;
        flex-direction: column;
        padding: 1.5rem 1rem;
        .car-option{
            display: flex;
            flex-direction: row;
 
        }
        .calender{
            display: flex;
            flex-direction: column;
            .calender-header{
                text-align: center;
            }
            .calender-content{
                display: flex;
                flex-direction: row;
            }
        }
        .img-upload{
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            img{
                padding: 5px 5px;
                width: 110px;
                height: 110px;
            }
            img:hover{
                transform: scale(2);
                transition: .5s;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            }
        }
    }
    .create-btn{
        background-color: #293d3d;
        width: 50%;
        height: 40px;
        margin: auto;
        color: white;
        border-radius: 180px 180px 180px 180px;
        h2{
            text-align: center;
    }   
        }
    .create-btn:hover{
        background: white;
        color: #293d3d;
        cursor: pointer;
    }    
}

.MuiMenu-paper {
    max-height: calc(20% - 96px) !important ; 
}